# ----------------------------
# Flutter / Dart
# ----------------------------
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
**/build/
**/ios/Flutter/.last_build_id
**/doc/api/

# Obfuscation
app.*.map.json
app.*.symbols

# Android
/android/app/debug
/android/app/profile
/android/app/release

# ----------------------------
# Node.js / Express
# ----------------------------
node_modules/
.env
uploads/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional:
*.tgz
*.log

# ----------------------------
# Python / Flask
# ----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
env/
venv/
ENV/
*.h5
*.sqlite3
instance/
.ml_service_python/.env

# ----------------------------
# Editor / OS Files
# ----------------------------
*.swp
.DS_Store
.vscode/
.idea/
*.iml
*.log

# Git / build / misc
.atom/
.build/
.history
.svn/
*.class
*.ipr
*.iws
